# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/

# Environment variables
.env

# Logs
logs/*.log

# SQLite
*.db

# VS Code
.vscode/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db